* {
    Font-family: ‘Roboto’
}

.find {
    background-color:  coral;
}
.games__first  {
    background-color:  #525252;
}
.card-body {
    background-color:  #525252;
    color:#fff;
}
.white {
    background-color:  #fff;
    color:black;
}
footer {
    background-color:  #525252;
    color:#fff;
}
.footer_btn {
    background-color:  coral;
    color:#fff;
}