body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin: 0 100px 0 100px;
}
.block {
  display: flex;
  justify-content: space-between;
  height: 440px;
}
.epam_blue {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: #76cdd8;
  color: white;
}
h1 {
  font-size: 50px;
}
q {
  font-style: italic;
  color:#24d4d4;
}
.blue {
  color:#019999;
}
.text_blocks {
  width: 50%;
  height: 200px;
  text-align: left;
  padding: 80px 0 80px 0;
  position: relative;
}
.text_blocks:after {
  content: '';
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-right-width: 0px;
  border-left-width: 188px;
  border-top: 100px solid #76cdd8;
  right: 0;
  top: 0;
  position: absolute;
}
.triangle:after {
  content: '';
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-left-width: 0px;
  border-right-width: 188px;
  border-top: 100px solid #76cdd8;
  left: 0;
  top: 0;
  position: absolute;
}
.read_btn_learn {
  text-align: right;
}
.read_btn {
  background-color: #019999;
  border: none;
  padding: 16px 40px;
  color:white;
}
.read_btn:hover {
  background-color: rgb(118, 205, 216)
}
.fire_img_block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: #76cdd8;
}
.text_container {
  padding: 0 120px 0 120px;
}

.fire_pic {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}
.fire_img {
  width: auto;
  height: 100%;
  margin-left: -50px;
}
.hand_pic {
  width: 50%;
  background: url("../img/image-01.jpg") no-repeat;
  background-size: cover;
  transition: transform .2s;
}
.hand_pic:hover {
  transform: scale(1.1);
}
.read_btn_security {
  text-align: center;
}
.trees_block {
  display: flex;
}
.info_block {
  width: 70%;
  margin-top: 60px;
  padding: 0 80px 0 80px;
}
.read_btn_info {
  text-align: right;
}
.img_container {
  width: 30%;
  height: 700px;
}
.trees_img_block {
  background: url("../img/image-02.jpg") no-repeat;
  background-size: cover;
  background-position: center center ;
  transition: transform .2s;
  object-fit: cover;
  height: 90%;
  width: 400px;
}
.trees_img_block:hover {
  transform: scale(1.1);
}
.plan_tabs {
  display: flex;
  justify-content: center;
  align-items: center;
}
.plan {
  margin: 0;
}
.cost {
  margin: 0;
}
.color_change {
  background-color:rgb(47, 138, 145);
  color:white;
  text-align: center;
  padding: 20px 50px;
}
.plan_tab {
  text-align: center;
  border: 1px solid;
  border-color: rgb(47, 138, 145);
  margin-right: 40px;
}
.plan_text {
  color:grey;
  text-align: left;
}
.text_card {
  padding: 50px 100px 40px 100px;
}
.text_advanced {
  display: none;
  color: red;
}
.special:hover .text_advanced{
  display: block;
}
.nopic:hover {
  box-shadow: 0 0 0 0.2rem #24d4d4;
}
.pic {
  padding: 0;
  background: url("../img/image-03.jpg") no-repeat;
  background-size:cover;
  background-position: center center;
  width: 390px;
  height: 490px;
  transition: transform .2s;
}
.pic:hover {
  transform: scale(1.1);
}
.plan_btn_read {
  padding-top: 10px;
}
.plan_btn_read:hover  {
  background: #24d4d4;
}
.form_block {
display: flex;
flex-direction: column;
margin-top: 20px;
}
.form_banner {
  position:relative;
}
.title_form {
  background-color: #23d4d4;
  padding-top: 14px;
  padding-bottom: 40px;
  z-index:-1; 
}
.title_form h2 {
  padding-left: 250px;
  color:white;
}
.empty_block {
  background-color: #f4f4f4;
  height: 300px;
}
form {
  display: flex;
  background-color: white;
  flex-direction: column;
  margin: 0 auto;
  width: 600px;
  padding: 50px;
  z-index:1; 
  position: absolute;
  top: -50px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
}
input:hover {
  border-color: #24d4d4;
  box-shadow: 0 0 0 0.2rem #24d4d4; 
}
.form_container {
  display: flex;
}
.input_block {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.contact_info_holder {
  margin-bottom: 20px;
  height: 30px;
  border: 1px solid;
  border-color:rgb(209, 209, 209);
}
.textarea_block {
  padding-left: 20px;
}
.contact_btn {
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  background-color: rgb(47, 138, 145);
  border: none;
  padding: 16px 40px;
  color:white;
}
.contact_btn:hover {
  background-color: rgb(118, 205, 216);
}
.last_container {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  background-color: #019999;
  color:white;
}
.second_column {
  padding-left: 280px;
}
.copyright_block {
  text-align: center;
  color:gray;
}
