/*
* Colors used in design.
*   primary: #0078aa;
*   dark: #363636;
*   light: #fff;
*/
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
  min-width:1280px ;
  margin: 0 auto;
}
@media(max-width: 768px) {
  body {
    margin: initial;
    max-width:768px ;
    min-width:415px ;
  }
}
@media(max-width: 414px) {
  body {
    max-width:414px ;
    min-width: 0 ;
    overflow-x: hidden;
  }
}
.promo {
  position: fixed;
  top: 0;
  display: flex;
  background-color: #fff;
  width:100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 80px;
}

@media(max-width: 768px) {
  .promo {
    padding: 10px 30px 10px 30px;
  }
}
@media(max-width: 414px) {
  .promo {
    display: block;
    padding: 10px 30px;
    text-align: center;
  }
 .logo {
   margin-bottom: 8px;
 }
}
.menu {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-weight: 300;
  top: 0;
  width: 100%;
}
.menu_item {
  padding: 0 15px;
}
.menu_link {
  font-weight:bold;
  color: #363636;
  text-decoration: none;
}
.menu_link:hover {
  color: #0078aa;
}
@media(max-width: 414px) {
  .menu {
    padding: 0 15px;
  }
  .menu_item {
    padding: 0;
  }
}
.lady_block {
  min-height: 500px;
  width: 100%;
  background: url('../img/header_bg.jpg') center no-repeat;
  background-size: cover; 
  border-radius: 0 0 30em/4em 0;
}
@media(max-width: 768px) {
  .lady_block {
    border-radius: 0;
    background-position: -200px 0; 
  }
}
@media(max-width: 414px) {
  .lady_block {
    min-height: 200px;
  }
}
.header_text {
  max-width: 500px;
  text-align: left;
  padding-top: 150px;
  padding-left: 100px;
}
h1 {
  margin-bottom: 20px;
}
.promo_text {
max-width: 400px;
color:#363636;
font-size: 12px;
}
.header_btn {
  padding-top: 15px;
  padding-left: 100px;
}
.info_btn {
  background-color: #0078aa;
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
  margin-right: 10px;
}
.info_btn:hover {
  background-color: #fff;
  color:#0078aa;
  border:1px solid #0078aa;
}
@media(max-width: 768px) {
  .header_text {
    padding-left: 30px;
  }
  .header_btn {
    padding-left: 30px;
  }
}
@media(max-width: 414px) {
  .header_text {
    text-align: center;
  }
  h1 {
    max-width: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .promo_text {
    max-width: 340px;
    margin: 0 auto;
  }
  .header_btn {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 60%;
    margin: 0 auto;
  }
}
.about {
  display: flex;
  justify-content: space-between;
  padding-top: 90px;
  padding-bottom: 90px;
}
.laptop_img {
  margin-right: 20px;
}
.about_title {
  font-size: 30px;
  margin-bottom: 10px;
}
.care_text {
  color:#0078aa;
  text-transform: uppercase;
  margin-bottom: 17px;
}
.about_subtitle {
  font-weight: bold;
  margin-bottom: 8px;
}
.about_text {
  margin-bottom: 15px;
}
.fa-long-arrow-alt-right {
  color:#0078aa;
}
.about_btn {
  height: 40px;
  width: 40px;
  position: fixed;
  top: 50%;
  right: 10px;
  background-color: #0078aa;
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
}
.about_btn:hover {
  background-color: #fff;
  color:#0078aa;
  border:1px solid #0078aa;
}
@media(max-width: 768px) {
  .about {
    padding-top: 50px;
  }
  .about_btn {
    right: 30px;
  }
 
  .about_descr {
    width: 60%;
    
   }
  .laptop_img {
    width: calc(40% - 20px);
    margin: auto;
    margin-right: 20px;
  }
}
@media(max-width: 414px)  {
  .about {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 40px;
  }
  .about_descr {
    width: 100%;
    padding-right: 0;
   }
  .laptop_img {
    width: 100%;
    margin: 0 auto;
  }
}
.how_box {
  background: url('../img/services_bg.jpg') center no-repeat;
  background-size: cover; 
}
.how_title {
  font-size: 30px;
  text-align: center;
  align-items: center;
  padding-top: 40px;
  font-size: 30px;
}
.read_text {
  text-align: center;
  align-items: center;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-size: 13px;
}
.how_cards {
  display: flex;   
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 150px 50px 150px;
}
.how_cards_item {
  width: calc(33% - 20px);
  margin-right: 20px;
  box-shadow: 0 20px 60px 0 rgba(49, 69, 244, 0.1);
  background-color: white;
  margin-bottom: 20px;
  padding: 25px;
}
.how_cards_item:nth-child(3) {
  margin-right: 0;
}
.how_cards_item:nth-child(6) {
  margin-right: 0;
}
.how_img {
   margin-bottom: 16px;
}
.how_sub_title {
  margin-bottom: 16px;
}
@media(max-width: 768px) {
  .how_cards {
    padding: 0 20px 50px 20px;
  }
  .how_cards_item {
    max-width: calc(33% - 20px);
    margin-right: 0;
  }
}
@media(max-width: 414px) {
  .how_cards {
    padding: 0 10px 50px 10px;
  }
  .how_cards_item {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
  }
}
.offers {
  background: url('../img/pricing_bg.jpg') center no-repeat;
  background-size: cover; 
}
.offer_tabs {
  display: flex;
  justify-content: center;
  align-items: center;
}
.offer_tab {
  background-color:#62bde4;
  padding: 50px 100px 40px 100px;
  text-align: center;
}
.offer {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.cost {
  font-weight: bold;
  font-size: 40px;
  color:white;
  margin-bottom: 20px;
}
.treatments {
  font-size: 15px;
  font-style: italic;
  color: white;
  margin-bottom: 20px;
}
.fa-times {
  color: white;
  margin-bottom: 16px;
}
.offer_text {
  font-size: 12px;
  color: white;
  margin-bottom: 20px;
}
.offer_button {
  padding: 15px 20px;
  color:#0078aa;
  font-weight: bold;
  font-size: 16px;
  border: 1px solid #0078aa;
  border-radius: 15px;
}
.offer_button:hover {
  background-color: #0078aa;
  color:#fff;
  border:1px solid #fff;
}
.offer_tab_white {
  background-color:white;
  padding: 80px 100px 70px 100px;
  text-align: center;
  border: 3px solid #0078aa;
  border-left: 1px solid #0078aa;
  border-top: 1px solid #0078aa;
}
.white {
  background: white;
}
.blue {
  color: #0078aa;
}
@media(max-width: 768px) {
  .offer_tabs {
    padding: 0 25px;
  }
  .offer_tab {
    padding: 25px 40px 20px 40px;
  }
  .offer_tab_white {
    padding: 40px 40px 35px 40px;
  }
}
@media(max-width: 414px) {
  .offer_tabs {
    display: block;
  }
  .offer_tab {
    margin-bottom: 15px;
    padding: 50px 100px 40px 100px;
  }
}
.appointment {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}
.contacts_img {
  width: 55%;
}
.appointment_title {
  font-size: 30px;
  text-align: left;
  padding-top: 40px;
  font-size: 30px;
  margin-bottom: 8px;
}
.appointment_subtitle {
  text-align: left;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-size: 13px;
}
.contact_content {
  width: calc(45% - 30px);
  margin-left: 30px;
}
form {
  display: flex;
  flex-direction: column;
}
.contact_info_holder {
  margin-bottom: 20px;
  height: 30px;
  border:none;
  border-bottom: 1px solid #f0f0f0;
  outline: none;
  font-style: italic;
  color: #363636;
}
.font_style_normal {
  font-style: normal;
}
.contact_btn {
  max-width:120px;
  background-color:  #0078aa;
  padding: 12px 28px;
  border-radius: 10px;
  border:none;
  outline: none;
  color:white;
  font-weight: bold;
}
.contact_btn:hover {
  background-color: #fff;
  color:#0078aa;
  border:1px solid #0078aa;
}
@media(max-width: 768px) {
  .appointment {
    position: relative;
    max-width: 768px;
    margin-top: 20px;
  }
  .contact_content {
    padding-left: 30px;
    background: white;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    padding-right: 20px;
    margin-bottom: 30px;
    z-index: 2;
   }
  .contacts_img {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    z-index: -1;
    
  }
  .contact_btn {
    padding: 15px 28px;
  }
}
@media(max-width: 414px) {
  .appointment {
    display: block;
  }
  .contact_content {
    padding-left: 0;
    position: initial;
   width: 100%;
   padding-right:30px ;
   }
  .contacts_img {
    width: 100%;
  }
  .appointment_title {
    text-align: center;
    max-width: 200px;
    margin: 0 auto;
  }
  .appointment_subtitle {
    text-align: center;
  }
  .contact_btn {
   margin: 0 auto;
  }
}
footer {
background: #363636;
}
.copyright {
  text-align: center;
  align-items: center;
  color: #fff;
  padding: 15px 0;
  font-size: 10px;
}

@media(max-width: 414px) {
  .copyright {
    padding-right: 0;
  }
}