
@mixin links-color {
    color:white;
}
@mixin button-style {
    background: $green; 
    font-size: 10px;
    color:white;
    padding: 9px 25px;
    border:none;
    border-radius: 2px;
    font-weight: bold;
}

$fonts: (
    SourceSansPro:  'Source	Sans Pro,sans-serif'
);

* {
    margin: 0;
}
body {
    margin: 0 auto;
    width: 1000px;
    background-color: $bg_color;
}
header {
    background: $bg;
    background-size: 100%;
    border-radius: 0 0 30em/10em 0;
}

.landing-logo {
    display: flex;
    align-items: center;
    padding-top: 15px;
    font-family: 'Fresca',	sans-serif;
    font-weight: bold;
    p {
        text-transform: uppercase;
        padding-left: 10px;
        font-size: 15px;
        color:$text_black;
    }

    span { 
        display: flex; 
        text-transform: lowercase;
        font-size: 6px;
        text-align: center;
        justify-content: center;
        color:$text_black;
      } 
} 
.header-wrap {
    margin: 0 150px;
    .header_heading {
        position: relative;
        width: 500px;
        line-height: 100%;
        font-size: 50px;
        font-family: 'Hind',sans-serif;
        font-weight: bold;
        overflow-wrap:break-word;
        padding-top:50px;
        margin-bottom:25px;
        color:$text_black;
            &::before {
                position: absolute;
                content:"awesome";
                z-index: 1000;
                background: $blue;
                bottom: 0;
                padding: 0;
        }
        
    }
    .header_text {
        width: 350px;
        font-family: 'Hind',sans-serif;
        overflow-wrap:break-word;
        font-size: 10px;
        margin-bottom: 35px;
        color:$text_black;
    }
    .header_button {
        @include button-style;
        margin-bottom: 100px;
    }
    a {
        @include links-color;
        padding-left: 100px;
    }
 }
   
.section_text {
    position: relative;
    text-align: center;
    margin-top:25px;
    font-family: 'Hind',sans-serif;
    font-size: 25px;
    font-weight: bold;
    color:$welcome_text;
        &::before {
            position: absolute;
            content:"adventure";
            z-index: 1000;
            background:$blue;            
            left: 51%;  
            padding: 0;     
}
}

.section_card_wrap {
    text-align:center;
        .section_card {
            display: flex;
            vertical-align: middle;
            align-items: center;
            margin-top:25px;           
            background: $bg_card;
            color:#fff;
            width:80%;
            margin:0 auto;
            margin-top: 20px;
            border-radius: 5px;
        }
        .section_card_img {   
            justify-content: center;
            align-items: center;
            width:35%;
            padding: 15px 55px 15px 15px;
            border-radius: 5px;
        }
        .section_card_right_container {
            width: 350px;
            font-family: 'Hind',sans-serif;
            padding-left: 15px;
            text-align: center;

        }
        .section_card_heading {
            line-height: 21px;
            margin-top:20px;
            margin-bottom: 20px;
            font-weight: bold;
        }
        .section_card_text {
            overflow-wrap:break-word;
            font-size: 13px;
            margin-bottom: 35px;
            line-height: 17px;
            text-align:left;
            margin-bottom: 5px;
            font-family: map-get($fonts,SourceSansPro);
            color:white;
            margin-top: 20px;
        }
        a {
            @include links-color ;
            font-size:9px;
            margin-top: 4px;
        }
}
.section_banner {
    position: absolute;
    display: flex;
    align-items: center; 
    justify-content: space-between;        
    background-image: $bi;
    color:$text_white;
    border-radius: 5px;
    width: 700px;
    height:90px;
    margin: auto;
    margin-top: 100px;
    margin-left: 150px;
    z-index: 1000;
    
        .section_banner_heading {
            font-family: 'Hind',sans-serif;
            font-size: 20px;
            font-weight: bold;
            margin-top: 9px;
            margin-left: 100px;
            color:$text_black;
            &::before {
                position: absolute;
                content:"start";
                z-index: 1000;
                background: $blue;            
                left: 26%;
                padding: 0;
    }
}
        .section_banner_text {
            font-size: 10px;
            margin-bottom: 35px;
            line-height: 17px;
            text-align:left;
            margin-bottom: 5px;
            margin-left: 100px;
            font-family: map-get($fonts,SourceSansPro);
            color:#fff;
        }
        .section_banner_button {
            @include button-style;
            margin-right:100px;
        }   
}

.footer {    
    position: relative;    
    display: flex;
    background:$footer_bg;
    margin: auto;
    height:150px;
    margin-top:150px; 
    .footer-wrap {
        display: flex;
        align-items: center; 
        margin: auto;   
        width: 100%;
        justify-content: space-between; 
        margin-top: 70px; 
        .footer_logo{
            @extend .landing-logo;           
            align-items: center;           
            color:#fff;
            text-align: center;
            width:25%;
            justify-content: center;
            padding-left: 50px;
                p {
                    text-transform: uppercase;
                    padding-left: 10px;
                    font-size: 10px;
                    color:#fff;
                }

                span { 
                    display: flex; 
                    text-transform: lowercase;
                    font-size: 6px;
                    text-align: center;
                    justify-content: center;
                    color:#fff;
                } 
    }
        .footer_text {
            display: flex;
            overflow-wrap:break-word;
            font-size: 8px;
            line-height: 17px;
            text-align:left;
            font-family: 'Source	Sans	Pro',	sans-serif;
            color:#fff;
            width:18%;
        }
        .footer-cr {
            display: inline;
            font-family: 'Source	Sans	Pro',	sans-serif;
            color:#fff;
            font-size: 8px;
            width: 25%;
        }
    }
}

    