$bg_color: #21232e;
$welcome_text:#c8d1c9; 
$green:#ffd000;
$text_black:#c8d1c9;
$text_white:#32353b;
$blue:#ff5e00;
$bg: url('../img/m-h-day.jpg');
$bi: linear-gradient(to right,#ffc400,#ee2e58);
$bg_card: #3b3f50;
$bg:  url('../img/m-h-night.jpg');
$footer_bg:#3b3f50;