$bg_color: #fff;
$green:#6eae00;
$welcome_text:#32353b; 
$text_black:#32353b;
$text_white:#c8d1c9;
$blue:#00ace6;
$bg: url('../img/m-h-day.jpg');
$bi: linear-gradient(to right,#6eae00,#2062e5);
$bg_card: rgb(37, 33, 48);
$footer_bg:#32353b;