* {
    font-family: 'Open Sans',sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    min-width: 900px;
}
section {
    padding: 0 50px;
}
header {
    min-height: 700px;
    background: url('../img/apples.jpg') center no-repeat;
    background-size: cover;
}
.promo {
    display: flex;
    justify-content: space-between;
    padding: 35px 50px 0 50px;
}

.menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-weight: 300;
}
.menu_item {
    padding: 0 15px;
}
.menu_link {
    color: white;
    text-decoration: none;
}
.logo {
    color: white;
    font-weight: 300;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing:3px;
}
h1 {
    text-align: center;
    margin-top: 190px;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 400;
    color: white;
    letter-spacing:10px;
}
.title > span {
    font-size: 80px;
}
.promo_text {
    text-align: center;
    color: white;
    font-size: 10px;
    letter-spacing:1px;
}
.header_button {
    display: block;
    margin: 0 auto;
    margin-top: 160px;
    background: rgba(0, 0, 0, 0.4);
    background-repeat:no-repeat;
    border: 1px solid white;
    cursor:pointer;
    overflow: hidden;        
    padding: 10px 65px;
    color:white;
}
.descr  {
    display: flex;
    justify-content: space-between;
    text-align: left;
    min-height: 300px;
    padding: 90px; 
}
.first_paragraph {
    width: 50%;
    font-size: 17px;
    padding-right: 20px;
    font-weight: normal;
}
.second_paragraph {
    width: 50%;
    font-size: 12px;
}
.read {
    background-color: #F3F3F3;
    min-height: 1700px;
}
.read_title {
    text-align: center;
    font-size: 20px;
    padding-top: 100px;
    padding-bottom: 70px;
    font-weight: normal;
}
.img_wrapper {
    position: relative;
}
.block_img {
    height: 100%;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
} 

.text_blocks {
    text-align: center;
    padding-top: 100px; 
}
.block {
    display: flex;
    justify-content: space-between;
}

.location_france {
    position: absolute;
    bottom: 40px;
    left: 40px;
    color:#fff;
}
.location_america {
    position: absolute;
    bottom: 40px;
    left: 40px;
    color:#fff;
}
.like_counter_america {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color:rgba(0, 0, 0, 0.4);
    border: 3px solid #fff;
}
.like_counter_france {
    position: absolute;
    top: 15px;
    left: 40px;
    background-color:rgba(0, 0, 0, 0.4);
    border: 3px solid #fff;
}
.count {
    display: block;
    padding: 4px 15px;
    color: #fff;
}
.subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 120px;  
    margin-top: 50px;
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 45px;
}
 .subscribe_title {
    text-align: center;
    font-size: 20px;
    padding-right: 15px;
} 
.email_box {
    padding: 15px 240px;
    margin: 0 auto;
}
.Sub_but{
    background-color: #343638;
    color:#fff;
    margin: 0 auto;
    margin-left: 0;
    padding: 15px 20px;
    cursor:pointer;
    border: none;
    outline: none;
}
.short_descr {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;
}
.box_descr {   
    min-width: 200px;
    text-align: left;
    padding-right: 15px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.contact_descr {
    width: 290px;
    text-align: left;
    padding-right: 100px;
    margin-top: 100px;
}
.hours {
    color:#F0F0F0;
}
.short_text {
    padding-top: 15px;
    color:#A4A4A4;
}
.sub_title {
    font-weight: bold;
}
.news_box {
    padding: 7px 10px; 
}
.Sub_but_news {
    background-color: #343638;
    color:#fff;
    margin-left: 0;
    padding: 7px 9px;
    cursor:pointer;
    border: none;
    outline: none;
}
form {
    display: flex; 
}
hr {
    border:none;
    color: #F0F0F0; 
    background-color: #F0F0F0; 
    height: 2px; 
}
footer {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    height: 100px;
    padding: 0 50px;
}
.copyright {
    color: #9E9E9E; 
}
.footer_menu_link {
    color:black;
    text-decoration: none;
}