﻿* {
  outline: none;
}

body {
  font-family: 'Ubuntu', sans-serif;
}
section {
  margin: 30px;
}
.header_container {
  background-image: url(../img/header-bg.jpg);
  background-position: center center;
  padding: 20px 100px 230px 100px;
}
.header_digital h1 {
  font-size: 47px;
  font-weight: bold;
}
.header_digital p {
  font-size: 26px;
}
.main_title h2 {
  font-weight: bold;
}
 h3 {
  font-size: 20px;
  color: grey;
}
hr {
  width: 40px;
  height: 1px;
  background: rgb(90, 90, 90);
}
.block {
  margin: 20px 20px 50px 20px;
  width:370px;
}
.block_img {
  padding-bottom: 40px;
}
.block_img img {
  width: 130px;
}
.block_main_title {
  font-size: 25px;
  color: grey;
}
.block_text {
  color: grey;
} 
.krea_btn button {
  background-image:linear-gradient(to top, #2b5876 0%, #4e4376  51%, #2b5876  100%);
  padding: 10px 50px 10px 50px;
  border-radius:20px;
  color:white;
  border: none;
}
.works_container {
  padding: 40px 100px 40px 100px;
  background-color: rgb(212, 212, 212);
}
.work_empty_img {
  display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(6,190px);
    grid-gap: 20px;
}
.works_img > img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
.works_img:nth-child(1) {
  grid-row: 1/3;
  grid-column: 1;
}
.works_img:nth-child(2) {
  grid-row: 1/3;
  grid-column: 2;
}
.works_img:nth-child(3) {
  grid-row: 1/5;
  grid-column: 3;
}
.works_img:nth-child(4) {
  grid-row: 3/5;
  grid-column: 1;
}
.works_img:nth-child(5) {
  grid-row: 3/7;
  grid-column: 2;
}
.works_img:nth-child(6) {
  grid-row: 5/7;
  grid-column: 1;
}
.works_img:nth-child(7) {
  grid-row: 5/7;
  grid-column: 3;
}
.reference_container {
  padding: 40px 100px 40px 100px;
}
.title_reference hr {
  width: 80px;
}
.stripe {
  z-index: -100;
  left: -30px;
  bottom: -30px;
}
.empty_img {
  z-index: 10;
}
.references_info {
  margin-left: 70px;
}
.references_info h2 {
  font-weight: bold;
}
.references_info p {
  color: grey;
}
.round {
  width: 15px;
  height: 15px;
  margin-top: 50px;
  border-radius: 50%;
  background-color: #62436f;
  margin-left: 5px;
}
.light {
  background-color: #c0b4c5;
}
.arrow {
  padding: 0 100px 0 100px;
  height: 70px;
  margin: auto;
}
.contact_container {
  background-color: black;
  padding: 100px 150px 100px 150px;
}
.title_contact h3 {
  color: white;
}
.title_contact hr {
  color: rgb(177, 177, 177);
  margin-bottom: 70px;
}
input {
  outline: none;
  border:none;
  border-bottom: 3px solid rgb(255, 255, 255);
  background-color: black;
  color:white;
  width: calc((100% - 330px) / 2);
  margin-bottom: 50px;
  padding-left: 15px;
  padding-bottom: 10px;
}
input::placeholder {
  color: white;
}
input:first-child {
  margin-right: 30px;
}
.long {
  width: calc(100% - 300px);
}
.btn {
  background-color:rgb(46, 45, 45);
  width: 100px;
}
.footer_container {
  padding: 50px 150px 30px 150px;
  background: linear-gradient(90deg, rgba(46,51,117,1) 0%, rgba(59,43,91,1) 100%);
  color:white;
}
.img_mail_block {
padding-right: 16px;
}
.img_mail_block .phone {
  padding-top: 16px;
}
.network img {
  padding-left: 30px;
}
.social p {
  text-align: right;
  padding-top: 10px;
  color:#bbbed1;
  font-size: 10px;
}