@media (max-width: 1200px)
	.menu
		&_item 
			padding-right: 20px
		&_link 
			font-size: 13px
	.promo
		&_header 
			font-size: 50px
	.reasons
		&_block 
			align-items: flex-start
		&_descr 
			width: 300px
@media (max-width: 991px)
	.title 
		font-size: 28px
	.menu
		&_item 
			padding-right: 8px
		&_link 
			font-size: 10px
	.subheader
		&_logo
			img 
				width: 100%
		&_official 
			font-size: 11px
		&_phone 
			font-size: 18px
		&_btn 
			margin-top: 21px
			height: 40px	
			width: 100%
	.promo
		&_header 
			font-size: 40px
		&_subheader
			font-size: 30px
	.reasons
		&_block 
			flex-direction: column
			align-items: center
		&_round
			margin-right: 0
		&_descr 
			width: 300px
			margin-top: 20px
@media (max-width: 767px)
	.menu
		position: fixed
		flex-direction: column
		justify-content: center
		align-items: center
		top: 0
		left: -100%
		width: 50%
		height: 100vh
		padding: 20px 15px
		background-color: rgba(0,0,0, .8)
		transition: 0.6s all
		&_active 
			left: 0
		&_item 
			padding-right: 0
			border: none
			margin: 10px 0
		&_link 
			font-size: 20px
	.hamburger
		display: block
		position: absolute
		right: 10px
		top: 50%
		transform: translateY(-50%)
		width: 26px
		height: 12px
		span 
			display: block 
			height: 2px
			width: 100%
			background-color: #fff 
			margin-bottom: 2px
			transition: 0.5s all
		&_active 
			span 
				margin-bottom: -2px 
				&:nth-child(1)
					transform: translateY(3px) rotate(-45deg)
				&:nth-child(2)
					display: none
				&:nth-child(3)
					transform: translateY(3px) rotate(45deg)
	.xs-hidden
		display: none
	.xs-visible 
		display: block
	.subheader
		&_phone 
			display: block 
			margin-top: 10px
			color: #ffffff
			font-size: 16px
			font-weight: 400
			text-transform: uppercase
			text-align: center
		&_btn 
			display: block
			width: 200px
			height: 40px
			margin: 0 auto
			margin-top: 10px
	.promo
		&_header 
			line-height: 45px
				
@media (max-width: 575px)
	nav
		height: 30px
	header
		height: 30px
	.subheader
		height: 60px
		top: 30px
		&_official
			display:none
		&_logo
			margin-top: 16px
		&_phone 
			font-size: 12px
			font-weight: 400
			text-transform: uppercase
			margin-top: 11px
		&_btn 
			width: 110px
			height: 22px
			font-size: 9px
			margin-top: 6px
	.promo
		min-height: 400px
		padding: 73px 0 35px 0
		&_descr
			display: none
		&_header
			font-size: 30px
			padding: 0 24px
			line-height: 35px
		&_subheader
			font-size: 20px
			margin-top: 33px
			padding: 0 10px
			line-height: 30px
		&_btn
			width: 210px
			height: 50px
			margin-top: 72px
	.menu
		width: 85%
	.reasons
		padding: 22px 036px 0
		&_block
			margin-top: 26px
		&_round
			width: 100px
			height: 100px
		&_descr
			width: 100%
			margin-top: 27px
		&_subtitle
			font-size: 16px
	
	.title
		font-size: 16px
		margin-top: 15px
		line-height: 16px
	

		

