section {
    position: relative;
}
section:after {
    content: '';
    width: 0;
    height: 0;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-left-width: 0px;
    border-right-width: 188px;
    border-top: 27px solid #87CEFA;
    left: 0;
    top: 0;
    position: absolute;
}
.tm-content-box, .tm-sidebar {
    box-shadow: 0px 0px 10px #888888;
}

.flex-2-col {
    display: flex;
    height: 100%;
}

.tm-banner {
    background-color:  #ebebeb;
}
.tm-banner-inner {
    background-color:  #fff;
}
.tm-team-description-container > p:first-letter {
    color: #87CEFA;
    font-size: 30px;
    padding-left: 20px;
}

.carousel-content > .flex-item > .tm-section-title {
    color:  gainsboro;
    letter-spacing: 5px;
}

h2 + p {
    font-style: italic;
}

.tm-team-description-container {
    padding-top: 200px;
}

.box-bg:hover {
    color: #fff;
    background-color: #87CEFA;
    transition: all .3s linear;
}
.box > h2:hover {
    color: #fff;
    transition: all .3s linear;
}
.padding-medium a {
    color: black;
}
.padding-medium a:hover {
    color: #87CEFA;
    text-decoration:underline;
    border-bottom: 1px solid #87CEFA;
} 
.padding-medium a:visited {
    text-decoration:underline;
}
.text:after {
    content: "New";
    font-size: 9px;
    vertical-align: top;
    color:red;
}

.box {
    padding: 20px 10px 0;
}

.box:nth-child(2n) {
    background-color:#f1f1f1;
}

div > p:first-letter {
    color: black;
    font-size: 30px;
}
.contact_email {
    position: relative;
}
.mandatory-field:after {
    content:" *";
    color: red;
    font-weight: bold;
}

.submit-btn {
    float: right;
    border: 1px solid #87CEFA;
    background: white;
    color:#87CEFA;
    padding: 10px 35px;
    border-radius: 1px;
    max-width: 200px;
    transition: all 0.3s ease-out;
    font-size: 13px;
}

.submit-btn:hover {
    background: #87CEFA;
    color: rgba(255, 255, 255, 0.651);
    border-color: #87CEFA;
}

.tm-nav-item:hover{
    color: grey;
    background-color: #ebebeb;
    transition: all .3s linear;
}

footer > p:first-letter {
    color: #87CEFA;
    font-size: 30px;
    padding-left: 20px;
}
.tm-footer > a {
    color:#87CEFA;
}

@media print {
    section {
        height: 100vh;
        page-break-after: always;
    }
    
    .tm-sidebar  {
        display: none;
    }
    .tm-team-description-container {
        padding-top: 0 !important;
        max-width: 350px;
    }
    .flex-item img {
        margin-top: 100px;
        width: 200px;
        height: 190px;
    }
    .tm-team-description-container > h2 {
        color:blue;
    }
    .tm-footer {
        position: absolute;
        bottom: 20%;
        left: 20%;

    }
    .text-xs-center {
        text-align: center;
    }
    .tm-content-box > .flex-2-col {
        position: relative;
    }
}