* {
  margin: 0;
}

body {
  margin: 0 auto;
  width: 1000px;
  background-color: #fff;
}

header {
  background: url("../img/m-h-day.jpg");
  background-size: 100%;
  border-radius: 0 0 30em/10em 0;
}

.landing-logo, .footer .footer-wrap .footer_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  font-family: 'Fresca',	sans-serif;
  font-weight: bold;
}

.landing-logo p, .footer .footer-wrap .footer_logo p {
  text-transform: uppercase;
  padding-left: 10px;
  font-size: 15px;
  color: #32353b;
}

.landing-logo span, .footer .footer-wrap .footer_logo span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: lowercase;
  font-size: 6px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #32353b;
}

.header-wrap {
  margin: 0 150px;
}

.header-wrap .header_heading {
  position: relative;
  width: 500px;
  line-height: 100%;
  font-size: 50px;
  font-family: 'Hind',sans-serif;
  font-weight: bold;
  overflow-wrap: break-word;
  padding-top: 50px;
  margin-bottom: 25px;
  color: #32353b;
}

.header-wrap .header_heading::before {
  position: absolute;
  content: "awesome";
  z-index: 1000;
  background: #00ace6;
  bottom: 0;
  padding: 0;
}

.header-wrap .header_text {
  width: 350px;
  font-family: 'Hind',sans-serif;
  overflow-wrap: break-word;
  font-size: 10px;
  margin-bottom: 35px;
  color: #32353b;
}

.header-wrap .header_button {
  background: #6eae00;
  font-size: 10px;
  color: white;
  padding: 9px 25px;
  border: none;
  border-radius: 2px;
  font-weight: bold;
  margin-bottom: 100px;
}

.header-wrap a {
  color: white;
  padding-left: 100px;
}

.section_text {
  position: relative;
  text-align: center;
  margin-top: 25px;
  font-family: 'Hind',sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #32353b;
}

.section_text::before {
  position: absolute;
  content: "adventure";
  z-index: 1000;
  background: #00ace6;
  left: 51%;
  padding: 0;
}

.section_card_wrap {
  text-align: center;
}

.section_card_wrap .section_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
  background: #252130;
  color: #fff;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 5px;
}

.section_card_wrap .section_card_img {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35%;
  padding: 15px 55px 15px 15px;
  border-radius: 5px;
}

.section_card_wrap .section_card_right_container {
  width: 350px;
  font-family: 'Hind',sans-serif;
  padding-left: 15px;
  text-align: center;
}

.section_card_wrap .section_card_heading {
  line-height: 21px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.section_card_wrap .section_card_text {
  overflow-wrap: break-word;
  font-size: 13px;
  margin-bottom: 35px;
  line-height: 17px;
  text-align: left;
  margin-bottom: 5px;
  font-family: "Source	Sans Pro,sans-serif";
  color: white;
  margin-top: 20px;
}

.section_card_wrap a {
  color: white;
  font-size: 9px;
  margin-top: 4px;
}

.section_banner {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: -webkit-gradient(linear, left top, right top, from(#6eae00), to(#2062e5));
  background-image: linear-gradient(to right, #6eae00, #2062e5);
  color: #c8d1c9;
  border-radius: 5px;
  width: 700px;
  height: 90px;
  margin: auto;
  margin-top: 100px;
  margin-left: 150px;
  z-index: 1000;
}

.section_banner .section_banner_heading {
  font-family: 'Hind',sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: 9px;
  margin-left: 100px;
  color: #32353b;
}

.section_banner .section_banner_heading::before {
  position: absolute;
  content: "start";
  z-index: 1000;
  background: #00ace6;
  left: 26%;
  padding: 0;
}

.section_banner .section_banner_text {
  font-size: 10px;
  margin-bottom: 35px;
  line-height: 17px;
  text-align: left;
  margin-bottom: 5px;
  margin-left: 100px;
  font-family: "Source	Sans Pro,sans-serif";
  color: #fff;
}

.section_banner .section_banner_button {
  background: #6eae00;
  font-size: 10px;
  color: white;
  padding: 9px 25px;
  border: none;
  border-radius: 2px;
  font-weight: bold;
  margin-right: 100px;
}

.footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #32353b;
  margin: auto;
  height: 150px;
  margin-top: 150px;
}

.footer .footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 70px;
}

.footer .footer-wrap .footer_logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  text-align: center;
  width: 25%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 50px;
}

.footer .footer-wrap .footer_logo p {
  text-transform: uppercase;
  padding-left: 10px;
  font-size: 10px;
  color: #fff;
}

.footer .footer-wrap .footer_logo span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: lowercase;
  font-size: 6px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

.footer .footer-wrap .footer_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-wrap: break-word;
  font-size: 8px;
  line-height: 17px;
  text-align: left;
  font-family: 'Source	Sans	Pro',	sans-serif;
  color: #fff;
  width: 18%;
}

.footer .footer-wrap .footer-cr {
  display: inline;
  font-family: 'Source	Sans	Pro',	sans-serif;
  color: #fff;
  font-size: 8px;
  width: 25%;
}
/*# sourceMappingURL=style1.css.map */